@media (max-width: 1187px) {
  .container {
    max-width: 100%;
    margin: 0;
    padding: 0 39px;
  }
}
@media (max-width: 1110px) {
  .arrows {
    min-height: 277px;
  }

  .menu--btn {
    display: flex !important;
  }

  .header__navigation_items,
  .text_first,
  .slider__radio {
    display: none;
  }
  .header__navigation_items_item,
  .hovered__item {
    margin-bottom: 15px;
  }
  .auctions_today {
    margin-top: 24px;
    font-size: 34px;
    letter-spacing: 0.0025em;
  }
  .popular h3,
  .pop_cars {
    font-size: 34px;
    margin-top: 32px;
    letter-spacing: 0.0025em;
  }

  .pop_cars {
    margin-top: 39px;
  }
  .hover__items,
  .select--items {
    position: relative;
    width: 100%;
    justify-content: flex-start;
  }
  .slider_text {
    top: 16px;
  }

  .nav-2 {
    margin: 10px 0 10px 0;
    font-size: 16px;
    line-height: 19px;
    padding: 8px 0;
  }
  .nav-2:nth-of-type(3) {
    margin: 0 0 10px 0;
  }
  .hovered__item__header {
    font-size: 16px;
    margin-left: 0;
  }
  .hovered__items__dropdown {
    width: 100%;
    margin-top: 10px;
    margin-left: 3px;
    background: var(--color-dark-blue-500);
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
  }
  .hover_dropdown_item {
    padding: 6px 6px 6px 6px;
    color: #fff;
  }
  .select-items-dropdown {
    margin-top: 0;
    margin-left: 10px;
    background: var(--color-dark-blue-500);
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
  }
  .dropdown_item_link {
    color: #fff;
  }
  .cars {
    margin-bottom: 0;
    overflow: scroll;
  }
  .logo {
    margin-bottom: 5px;
  }
  .side_drower {
    height: 100%;
  }

  .side__drower_items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 55px 0;
  }
  .table__td_text {
    font-size: 15px;
  }
  .card_button {
    width: 178px;
    height: 32px;
  }
  .table__td_live {
    width: 40px;
    height: 13px;
    margin: 4px 0 0 12px;
  }
  .table_mobile {
    margin: 0 39px;
  }
  .footer {
    margin-top: 71px;
  }
  .social_image {
    margin-top: 32px;
  }

  .text_second {
    margin-top: 29px;
  }
}
@media (max-width: 1132px) {
  .container {
    padding: 0 39px;
  }
}
@media (max-width: 678px) {
  .auctions {
    display: none;
  }
  .slider_buttons,
  .arrow_left,
  .arrow_right,
  .slider_text,
  .text_first {
    display: none;
  }
  .arrows {
    min-height: 152px;
  }
  .mobile_section {
    display: block !important;
  }

  .auctions_today {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.0015em;
    margin: 16px 0 22px 0;
  }
  .cars {
    overflow-y: hidden;
  }
  .popular h3 {
    color: var(--color-dark-blue-500);
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 56px;
    margin-bottom: 8px;
  }
  .pop_cars {
    margin-top: 39px;
    margin-bottom: 8px;
    font-size: 24px;
  }
  .table__td_time {
    font-size: 15px;
  }

  .popular {
    position: relative;
    margin-top: 34px;
    margin-bottom: 40px;
  }
  .footer {
    margin-top: 55px;
  }
  .social_image {
    margin-top: 18px;
    width: 44px;
    height: 44px;
  }
  .social img {
    margin: 10px auto;
  }
  .text_second {
    margin-top: 16px;
  }
}
