.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1110px;
}
.nav-2:focus {
  text-decoration: solid underline rgb(255, 255, 255) 2px;
}
.main_header {
  position: relative;
  top: 0;
  background-color: var(--color-dark-blue-500);
  height: 50px;
  width: 100%;
  position: sticky;
  z-index: 9;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  /* margin-right: 70px; */
  width: 51.66px;
  height: 40px;
  margin: 5px 0 5px 0;
}
.nav {
  margin-right: 16px;
}
.nav-1 {
  position: relative;
  margin-right: 32px;
  border-radius: 10px;
}
.nav-2 {
  text-decoration: none;
  margin-right: 32px;
  color: var(--color-white);
  font-size: 14px;
}

.nav-2:nth-last-of-type(1) {
  margin-right: 0;
}

.nav-select {
  background-color: var(--color-dark-blue-500);
  font-size: 14px;
}
.hover_content {
  margin-right: 16px;
  position: relative;
}

.hovered_item {
  display: flex;
}

.hover_content:hover .hover_items {
  display: flex !important;
}

.hover_header {
  margin-left: 3px;
  font-size: 14px;
  color: var(--color-white);
  background-color: var(--color-dark-blue-500);
}

.hover_items::before {
  display: block;
  width: 100%;
  background: var(--color-white);
}
.hover-items-dropdown {
  width: 100%;
  margin-top: 18px;
  background: var(--color-white);
  border-radius: 0 0 16px 16px;
  box-shadow: 0 4px 38px rgb(9 64 103 / 12%);
}

.hover-dropdown-item {
  text-decoration: none;
  padding: 6px 6px 6px 16px;
  color: #5f6c7b;
  cursor: pointer;
  width: 157px;
}

.hover-dropdown-item:last-child {
  border-radius: 0 0 16px 16px;
}
.hover-dropdown-item:hover {
  overflow: hidden;
  background: rgba(9, 64, 103, 0.1);
  /* color: #094067 !important; */
}

.arrow_svg {
  margin: 0 16px 0 8px;
}

.time_dec {
  font-family: "quantico";
  font-style: italic;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #fffffe;
}

.arrow_svg:hover,
.over_content:hover .arrow_svg {
  transform: rotate(180deg);
}

.hover_content_date {
  margin-right: 16px;
  position: relative;
}

.hover_content_date:hover .hover_items {
  display: flex !important;
}

.hover_items {
  display: none;
  position: absolute;
  min-width: 179px;
  width: 100%;
}

.hover_items::before {
  display: block;
  width: 100%;
  background: var(--color-white);
}
.flex {
  display: flex;
}

nav {
  display: flex;
  align-items: center;
}

.nav_items {
  display: flex;
}
.select_lng {
  color: var(--color-white);
  position: relative;
  cursor: pointer;
  margin-right: 16px;
}
.select_data {
  color: var(--color-white);
  position: relative;
  cursor: pointer;
  margin-right: 16px;
}

.select_data:hover .select_items {
  display: flex !important;
}

.select_items {
  display: none;
  position: absolute;
  min-width: 179px;
  width: 100%;
  z-index: 200;
  /* margin:0 8px 0 3px */
}
.select_lng:hover .select_items {
  display: flex !important;
}

.arrow_lng:hover {
  margin-left: 8px;
  transform: rotate(180deg);
}

.select-item-dropdown {
  width: 60%;
  margin-top: 18px;
  background: var(--color-white);
  border-radius: 0 0 16px 16px;
  box-shadow: 0 4px 38px rgb(9 64 103 / 12%);
}
.select-items-item-link {
  padding: 6px 6px 6px 6px;
  text-decoration: none;
  color: #5f6c7b;
  cursor: pointer;
  width: 157px;
}
.select-items-item:hover {
  overflow: hidden;
  background: rgba(9, 64, 103, 0.1);
  color: #094067 !important;
}
.select_image {
  margin-left: 25px;
}
/* main */
/*slider*/

.slider {
  position: relative;
  background-image: url(../images/auto.png);
  background-repeat: no-repeat;
  display: block;
  background-size: cover;
}
.arrows {
  position: relative;
  display: flex;
  align-items: center;
}
.arrow_btn {
  position: relative;
}

.arrow_btn_item {
  position: absolute;
  display: flex;
  justify-content: space-between;
  z-index: 8;
  top: 80px;
}

.arrow_items {
  width: 100%;
  min-height: 519px;
  position: relative;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: spase;
}
.slider_text {
  position: absolute;
  width: 282px;
  height: 56px;
  font-family: "roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 56px;

  color: #ffffff;
}

.btn_slider {
  background: transparent;
}

.slider_radio {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
}
.slider-radio-btn {
  margin-left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: darkgray;
}

.auctions_today {
  margin: 40px 0 16px 0;
  font-weight: 400;
  font-size: 48px;
  line-height: 56.25px;
  color: var(--color-dark-blue-500);
}
.table {
  overflow: hidden;
}
.table_tr {
  border-radius: 0 0 16px 16px;
  background-color: var(--color-white);
  border: 1px solid rgba(95, 108, 123, 0.2);
  box-sizing: border-box;
  height: 70px;
  display: grid;
  grid-template-columns: minmax(0, 315px) minmax(0, 450px) minmax(0, 96px) minmax(0, 249px);
}

.table-td {
  display: flex;
  border-right: 1px solid rgba(173, 178, 184, 0.8);
  padding: 9px 0 0 8px;
}

.table-td-text {
  font-family: "roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.001em;
  color: #5f6c7b;
}

.table-td-flag {
  width: 15px;
  height: 10px;
  margin: 2px 7.3px 0 0;
}

.table-td-live {
  width: 63px;
  height: 18px;
  margin: 2px 0 0 12px;
}
.table-td-last {
  padding: 0 32px 9px 32px;
}
.table-td-button {
  width: 185px;
  height: 29px;
  background-color: #4caf50;
  box-shadow: 0px 8px 38px rgba(76, 175, 80, 0.32);
  border-radius: 15px;
  margin: 8px auto;
  color: var(--color-white);
}

.table-td-time {
  font-family: "Quantico";
  font-style: italic;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #5f6c7b;
}

.table-td-link {
  display: block;
  text-align: center;
  color: #4caf50;
  text-decoration: none;
  font-family: "roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}
.table_th {
  background-color: var(--color-dark-blue-500);
  color: var(--color-white);
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  letter-spacing: 0.15%;
  height: 40px;
  padding: 13px 0 0 5px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: minmax(0, 315px) minmax(0, 450px) minmax(0, 96px) minmax(0, 249px);
  border-radius: 16px 16px 0px 0px;
}

.default_lng_item {
  font-size: 14px;
  margin: 0 4px 0 4.69px;
}
/*POPULAR_CARS*/

.popular {
  position: relative;
  margin-top: 64px;
}

.popular h3,
.pop_cars {
  color: var(--color-dark-blue-500);
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 56px;
  margin-bottom: 16px;
}

.pop_cars {
  margin-top: 71px;
}
.cars {
  margin-bottom: 99px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 0 27px;
}

.cars_wrapper {
  position: relative;
}

.cars_image {
  width: 200px;
  height: 200px;
}

.cars_info {
  margin-top: 8px;
  width: 200px;
  display: flex;
  justify-content: space-between;
}
.cars-info-name {
  white-space: nowrap;
  width: 78px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.cars_info a {
  text-decoration: none;
  color: #3da9fc;
  font-size: 16px;
}

.cars_info p {
  color: var(--color-dark-blue-500);
}
.cars-slider-prev {
  position: absolute;
  top: 928px;
  left: 32px;
}
.cars-slider-next {
  position: absolute;
  top: 934px;
  right: 25px;
}

.cars-slider-prev1 {
  position: absolute;
  top: 53px;
  right: 129px;
}
.cars-slider-next1 {
  position: absolute;
  top: 55px;
  left: 116px;
}
.cars_sold {
  position: absolute;
  bottom: 26px;
  right: 0;
}
.cars_price {
  color: var(--color-white);
  background-color: var(--color-dark-blue-500);
  position: absolute;
  min-width: 64px;
  height: 28px;
  box-sizing: border-box;
  padding: 5px 6px 0px 3px;
  border-radius: 0 10px 0 0;
  left: 0;
  bottom: 27px;
}
.cars_item {
  position: relative;
}
.prev_next {
  position: relative;
}
.cars_slider {
  position: absolute;
  top: 930px;
  bottom: 465px;
  width: 50%;
  display: none;
  z-index: 88;
  cursor: pointer;
  color: transparent;
}

.cars_slider:after {
  display: block;
  content: url(../images/second.svg);
  color: var(--color-white);
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -0.5em;
}

.cars_slider-previous {
  left: 80.67px;
  display: block;
}

.cars_slider-previous:after {
  transform: scaleX(-1);
  right: auto;
  left: 10px;
}

.cars_slider-next {
  right: 78.67px;
  display: block;
}

.btn_arrow {
  width: 26px;
  height: 26px;
  border-radius: 13px;
  background: #ffffff;
  box-shadow: 0px 4px 36px rgb(0 0 0 / 25%);
}

.arrow_left {
  position: absolute;
  left: 0;
  top: calc(50% - 13px);
}

.arrow_right {
  position: absolute;
  right: 0;
  top: calc(50% - 13px);
}

.btn_arrow_mr {
  margin-right: 1033px;
  margin-left: 10px;
}
.btn_arrow-item {
  padding: 0 0 0 9px;
}

/*****/

.arrow_button {
  position: absolute;
  right: 8px;
  background: #fff;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  padding: 0 0 0 2px;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/*FOOTER*/
.footer {
  background-color: var(--color-dark-blue-500);
  height: 164px;
}

.social {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  box-sizing: border-box;
}
.social_image {
  margin-top: 16px;
  width: 56px;
  height: 56px;
  background-color: var(--color-white);
  border-radius: 34px;
}

.social-image-left {
  margin-left: 24px;
}
.social img {
  margin: 18px auto;
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.text_first {
  letter-spacing: 1.5px;
  line-height: 14.06px;
  margin-top: 16px;
  text-align: center;
  font-family: "roboto";
  font-weight: 900;
  font-size: 12px;
  color: var(--color-white);
}

.text_second {
  letter-spacing: 1.5px;
  line-height: 14.06px;
  margin-top: 14px;
  text-align: center;
  font-family: "roboto";
  font-weight: 400;
  font-size: 12px;
  color: var(--color-white);
}

.text_third {
  letter-spacing: 1px;
  line-height: 11.72px;
  margin-top: 14px;
  text-align: center;
  font-family: "roboto";
  font-weight: 400;
  font-size: 10px;
  color: var(--color-white);
}
.menu {
  margin-top: 13px;
}
.menu_btn {
  height: 50px;
  width: 50px;
  position: relative;
  margin-bottom: 10px;
  z-index: 200;
  background: transparent;
  box-sizing: content-box;
  text-indent: 123%;
  color: transparent;
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
  display: none;
}

.hamburger-menu-button-open {
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -12px;
}
.hamburger-menu-button-open,
.hamburger-menu-button-open::before,
.hamburger-menu-button-open::after {
  position: absolute;
  width: 24px;
  height: 2px;
  background: #fff;
  border-radius: 4px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.hamburger-menu-button-open::before,
.hamburger-menu-button-open::after {
  left: 0;
  content: "";
}
.hamburger-menu-button-open::before {
  top: 6px;
}
.hamburger-menu-button-open::after {
  bottom: 6px;
}
.hamburger-menu-button-close {
  width: 28px;
  position: relative;
  background: transparent;
  transform: rotate(180deg);
}
.hamburger-menu-button-close::before {
  transform: translateY(-6px) rotate(45deg);
}
.hamburger-menu-button-close::after {
  transform: translateY(6px) rotate(-45deg);
}

.side_drawer {
  width: 78%;
  background-color: var(--color-dark-blue-500);
  z-index: 210;
  position: fixed;
  right: 0;
  top: 50;
  height: calc(100vh - 50px);
}

.side_drawer_none {
  display: none;
}

.side_drawer_bl {
  display: block;
}

.side_drawer:target {
  display: block;
}
.side_drower_items {
  padding: 23px 0 0 33px;
  display: flex;
  flex-direction: column;
}

.navs_mobile {
  display: flex;
  flex-direction: column;
  padding: 12px 35px 0;
}
.mobile_section {
  display: none;
  align-items: center;
  max-width: 288px;
  max-height: 196px;
}
.card_items {
  padding: 8px 0 0 10px;
  display: grid;
  grid-template-columns: minmax(0, 83px) minmax(0, 77px);
  grid-gap: 12px 2px;
}
.card {
  background: var(--color-white);
  border: 1px solid rgba(95, 108, 123, 0.2);
  box-shadow: 0px 4px 38px rgb(9 64 103 / 12%);
  border-radius: 16px;
}

.first_col p {
  font-family: "roboto";
  color: #5f6c7b;
  font-size: 15px;
  letter-spacing: 0.0015em;
}
.second-col-item {
  display: flex;
}
.second-col-item-img {
  width: 55px;
  height: 14px;
  margin: 3px 0 0 6px;
}
.second-col-item-geogia {
  margin-right: 6px;
}
.card_button {
  margin: 14px 0 24px 0;
  width: 272px;
  color: var(--color-white);
  height: 50px;
  background: #4caf50;
  box-shadow: 0px 8px 38px rgba(76, 175, 80, 0.32);
  border-radius: 81px;
}
.card_text {
  display: block;
  margin-bottom: 16px;
  text-decoration: none;
  font-family: "roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.0015em;
  color: #4caf50;
}
.card_button_items {
  text-align: center;
}
